<app-header></app-header>
<div class="container">
  <div class="titulo">
    <h2>Productos</h2>
    <p>Selecciona tu producto y la cantidad que desees</p>
  </div>

  <section class="productos">
    <div class="producto-card" *ngFor="let product of productos">
      <div class="producto-imagen">
        <img src="{{product.img}}" alt="{{product.name}}">
      </div>
      <div class="producto-info">
        <h5>{{product.name}}<br></h5>
        <p>{{product.description}}</p>
        <div class="precio-boton">
          <p class="precio">${{product.price}}</p>
          <button>+</button>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
