body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
}

.producto-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 300px; /* Ancho fijo para las tarjetas */
  text-align: center;
}

.producto-imagen img {
  width: 100%;
  border-radius: 8px;
}

.producto-info {
  margin-top: 15px;
}

.producto-info h5 {
  margin: 10px 0;
  font-size: 1.25em;
}

.producto-info p {
  margin: 5px 0;
  color: #666;
}

.precio-boton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.precio {
  font-size: 1.5em;
  color: #000;
}

button {
  background: rgb(247, 170, 15);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #cc0000;
}


/* Estilos para el modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 1000;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Estilos específicos para los botones dentro del modal */
.modal button {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  padding: 0.9rem 2rem;
  cursor: pointer;
  font-size: 11.14px;
  margin-right: 10px; /* Espacio entre botones */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.modal button:hover {
  background-color: rgba(4, 65, 112, 0.8); /* Cambia el color al pasar el cursor */
}
