.final {
  background-color: rgb(255,255,255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  border-top: solid rgb(247, 170, 15) 2px;
}

.contacto img{
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.contacto{
  display: flex;
  flex-direction: column;
  width: 243.62px;
  line-height: 20px;
  font-size: 11px;
  gap: 30px;
  color: black;
}

.logos{
  display: flex;
}

.logos img {
  height: 25px;
}

.enlaces{
  display: flex;
  width: 243.62px;
  gap: 40px;
  margin-right: 5%;
}

.enlaces h3{
  font-size: 14px;
}

.enlaces h5{
  line-height: 25px;
  width: 112px;
  font-weight: 400;
  font-size: 11px;
}

.principal{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.principal h3{
  color: rgb(247, 170, 15) ;
}

.soporte h3{
  color: rgb(247, 170, 15) ;
}


.soporte{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

