<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer class="final">
  <div class="contacto">
    <div>
      <img src="assets/img/logo.png" alt="Logo Footer">
    </div>
    <div class="logos">
      <img src="assets/img/facebook.png">
      <img src="assets/img/instagram.png">
      <img src="assets/img/whatsapp.png">
    </div>
  </div>
  <div class="enlaces">
    <div class="principal">
      <h3>Principal</h3>
      <div class="opciones-principal">
        <h5>Sobre nosotros</h5>
        <h5>Nuestros productos</h5>
      </div>
    </div>
    <div class="soporte">
      <h3>Soporte</h3>
      <div class="opciones-soporte">
        <h5>Parque Cientifico UTPL</h5>
      </div>
    </div>
  </div>

</footer>

</body>
</html>
