<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen complexivo</title>
</head>
<header>
  <div class="logo">
    <img [routerLink]="['/home']" src="./assets/img/logo.png" alt="Logo">
  </div>

  <nav class="navbar">
    <a [routerLink]="['/home']">Principal</a>
    <a [routerLink]="['/cart']" *ngIf="loggedIn">Comprar</a>
    <a href="https://www.utpl.edu.ec/" target="_blank">Noticias</a>
    <a href="https://www.utpl.edu.ec/carreras/psicologia" target="_blank">Clubes</a>
  </nav>

  <div class="auth-buttons" >
    <div *ngIf="loggedIn">
      <img src="./assets/img/Cart.svg" alt="carrito-de-compras">
    </div>
    <span>{{emailFirstPart}}</span>
    <a class="boton"><button *ngIf="!loggedIn" [routerLink]="['/login']"><span>Iniciar Sesión</span></button></a>
    <div *ngIf="loggedIn" class="user-info">
      <a class="boton">
        <button  (click)="logout()">
          <span>
            Cerrar Sesión
          </span>
        </button>
      </a>
    </div>
  </div>
</header>

