<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<app-header></app-header>
<section class="home" id="home">
  <div class="content">
    <h1 [routerLink]="['/cart']">Bienvenido a Pantastic</h1>
  </div>
  <button class="comp" [routerLink]="['/cart']">Compra ahora!</button>
</section>

<section class="info">
  <div class="titulo">
    <h2>Recomendado para ti</h2>
  </div>
  <div class="container">
    <div class="card">
      <img src="/assets/img/Hogaza.jpg" alt="Hogaza">
      <div class="details">
        <h3>Hogaza</h3>
        <button [routerLink]="['/cart']">Añadir al carrito</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Hogaza-semillas.jpg" alt="Hogaza semilla">
      <div class="details">
        <h3>Hogaza semilla</h3>
        <button [routerLink]="['/cart']">Añadir al carrito</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Ciabatta%20(2).jpg" alt="Ciabatta">
      <div class="details">
        <h3>Ciabatta</h3>
        <button [routerLink]="['/cart']">Añadir al carrito</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Focaccia.jpg" alt="Focaccia">
      <div class="details">
        <h3>Focaccia</h3>
        <button [routerLink]="['/cart']">Añadir al carrito</button>
      </div>
    </div>
  </div>
</section>

<section class="clubes">
  <div class="subtitulo">
    <div class="afiliate-titulo">
      <h2>Afíliate a nuestros clubs</h2>
    </div>
    <div class="afiliate">
      <button [routerLink]="['/clubs']">Afiliate aquí</button>
    </div>
  </div>
  <div class="club-item">
    <div [routerLink]="['/clubs']" class="card-club">
      <div class="icon">
        <img src="/assets/img/pan.png" alt="Pan">
      </div>
      <h3>Club Pan</h3>
      <hr class="linea">
      <div class="descripcion">
        <p>Sé parte de nuestros clubs y entérate de todas las noticias de tus temas de interés, además obtén recompensas.</p>
      </div>
    </div>
    <div [routerLink]="['/clubs']" class="card-club">
      <div class="icon">
        <img src="/assets/img/vino.png" alt="Vino">
      </div>
      <h3>Club Vino</h3>
      <hr class="linea">
      <div class="descripcion">
        <p>Sé parte de nuestros clubs y entérate de todas las noticias de tus temas de interés, además obtén recompensas.</p>
      </div>
    </div>
    <div [routerLink]="['/clubs']" class="card-club">
      <div class="icon">
        <img src="assets/img/cafe.png" alt="Cafe">
      </div>
      <h3>Club Cafe</h3>
      <hr class="linea">
      <div class="descripcion">
        <p>Sé parte de nuestros clubs y entérate de todas las noticias de tus temas de interés, además obtén recompensas.</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
</body>
</html>
