.noticias-container {
  width: 80%;
  margin: 0 auto;
}

.noticia-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 15px;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  justify-content: space-between;
}

.not{
  display: flex;
}

.infnot{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.not img{
  margin-right: 100px;
}

.content-wrap{
  margin-top: 15px;
}

.noticia-card img {
  width: 200px;
  border-radius: 8px;
  height: auto;
}

.noticia-card h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

.noticia-card p {
  margin: 5px 0;
  color: #666;
}
